.skill {
    background-color: plum
}
  .container {
    overflow: auto;
  }

  .image-box {
    float: left;
    width: 20%;
    box-sizing: border-box;
    margin: 1%;
    padding: 10px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  }

  .text-box {
    float: right;
    width: 70%;
    box-sizing: border-box;
    margin: 1%;
    padding: 10px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    font-size:large
  }
  .text-init {
    font-size:large
    
  }